.product-page-background{
    background: linear-gradient(to right, #56ccf2, #2f80ed, #6fcf97); /* Blue to Green Gradient */
    height:100dvh;
    height:100vh;
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;

    overflow:scroll;


}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width:100%;
    margin-bottom:10em;
    padding:1em;
    box-sizing: border-box;
    margin-top:6em;
}

.nav-bar{
    position:fixed;
    height:10vh;
    background:#1e1e1e;
    width: 100%;
    bottom:0;
}

.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
 padding:0.4em 1em;
 box-sizing: border-box;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow */


}

.cart-icon-wrapper{
    position:relative;
    cursor:pointer;
    margin-right: 1em;
    
}